$light-grey: #ccc;
.editor {
  display: flex;
  &__markdown {
    padding: 10px;
  }
  &__vertical-handler {
    height: 100%;
    width: 2%;
    background: $light-grey;
    height: 100vh;
    cursor: pointer;
    position: relative;
    &:before {
      position: absolute;
      top: 50%;
      right: 20px;
      content: '';
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent; 
      border-right:10px solid white;

    }
    &:after {
      position: absolute;
      top: 50%;
      left: 20px;
      content: '';
      width: 0; 
      height: 0; 
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid white;
    }
  }
  &__preview {
    padding: 10px;
    & code {
      background: $light-grey;
      padding: 5px;
    }
  }
}